*{
    text-align: center;
    color: rgb(0, 0, 0);
    border: none;
}

*:hover{
    column-gap: 10px;
    border-color: rgb(8, 8, 8);
}

h1{
    text-align: center;
    background-color: darkred ;
    color: beige;
}

h2{
    text-align: center;
    background-color: darkred ;
    color: beige;
}

label {
    text-align: center;
    text-transform: uppercase;
}
input {
    text-align: center;
    text-transform: capitalize;
    background-color: beige;
    margin: 1rem;
    cursor: pointer;
}